@use 'variables';

.infos-bar {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  background-color: variables.$coffee3;

  &__infos {
    display: flex;
    gap: 40px;

    &__item {
      color: variables.$secondaryTextColor;
      font-size: 14px;
      list-style: none;

      b {
        color: variables.$secondaryTextColor;
        font-size: 18px;
        display: block;
      }
    }
  }

  @media (max-width: 640px) {
    display: block;

    &__infos {
      display: block;

      &__item {
        margin-bottom: 24px;
      } 
    }
  }

  @media (max-width: 1024px) {

    &__infos {
      gap: 16px
    }
  }
}